# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore node_modules
node_modules/

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Ignore VS Code settings and extensions
.vscode/

# Ignore IntelliJ IDEA project files
.idea/
